* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 1rem;
}

fieldset {
	margin: 10px 0;
	padding: 10px;
	border: none;
}

fieldset label {
	width: 100%;
	padding-bottom: 0.3rem;
}

button {
	padding: 0.3rem;
}

.alert {
	width: 100%;
	display: block;
	background-color: lightblue;
	padding: 0.4rem;
	font-size: 1rem;
	text-align: left;
	color: #000;
	transition: all linear 0.5s;
	animation: view 0.5s;
}

@keyframes view {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.alert.alert-success {
	background-color: lightgreen;
}

.alert.alert-reset {
	background-color: lightcoral;
}
